footer{
    background-color: $principal-color;
    width: 100%;
    img{
        margin: 15px;
        margin-top: 15px;
        margin-left: 15px;
    }
    .instalogo{
        float: right;
        margin: 15px;
        margin-top: 15px;
        margin-right: 15px;
       
        }
}